@import "tailwindcss";

body {
  background-color: #1A6ECE;
  font-family: 'Instrument Serif', serif;
}

.text-general {
    color: #1A6ECE;
    background-color: white
}

.text-principal {
    color: white;
    background-color: #1A6ECE;
}

#welcome {
    font-size: 228px;
}

#welcomeSubtitle {
    font-size: 128px;
    line-height: 150px;
} 

.links {
    font-size: 40px;
    color: white;
}